<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706750580614-lsq1mgrefoq4hs41k4ondepqfkvdr7kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706750580614-lsq1mgrefoq4hs41k4ondepqfkvdr7kn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>706750580614-tj2b72c7sb7nlh1psg5gq0p2c7910e9h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATyTh6FCh7N-bXPHIH6849p_k3OuR6Vg0</string>
	<key>GCM_SENDER_ID</key>
	<string>706750580614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlyproject</string>
	<key>PROJECT_ID</key>
	<string>note-46484</string>
	<key>STORAGE_BUCKET</key>
	<string>note-46484.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706750580614:ios:a0550232090d3939de8e07</string>
</dict>
</plist>